
    <div class="news">
      
    <div class="jumbotron section first-hero">
      <h1>News</h1>
    </div><!--first-hero-->
    
    <div class="jumbotron section news-content">
      
      <div class="row">
        <div class="pressroom col-sm-6 row">
          <a href="http://pressroom.itnamerica.org/category/itnlehighvalley/">
            
          <div class="col-sm-6 pressroom-image">
            <div class="pressroom-title"><h3>Pressroom</h3></div>
            <img src="assets/images/icons/news-noword2.png" alt="newspaper icon"/>
            <ul>
              <li class="wow fadeInUp"><a href="http://pressroom.itnamerica.org/category/itnlehighvalley/">Pressroom Blog</a></li>
            </ul>
          </div><!--pressroom-image-->

          </a>
        </div><!--pressroom-->
      
      
      <div class="newsletter col-sm-6 row">
        
        <div class="col-sm-6 newsletter-content">
          <div class="newsletter-title"><h3>Newsletters</h3></div>
          <img src="assets/images/icons/news-noword.png" alt="press icon"/>
          <ul>
            <li class="wow fadeInUp" data-wow-delay=".1s"><a
               href="assets/images/docs/newsletter/Fall_2015.pdf"  
               role="newsletter fall 2015">Newsletter Fall 2015</a></li>
            <li class="wow fadeInUp" data-wow-delay=".2s"><a
               href="assets/images/docs/newsletter/Fall_2014.pdf"  
               role="newsletter fall 2014">Newsletter Fall 2014</a></li>
        </ul>
        </div><!--newsletter-content-->
        
      </div><!--newsletter-->
      
    </div><!--row-->
    
    
    <div class="row">
      <div class="pressroom col-sm-6 row mt-100">
        
        <div class="col-sm-6 pressroom-image">
          <div class="pressroom-title"><h3>Annoucements</h3></div>
          <img src="assets/images/icons/announcement-icon.png" alt="annoucement icon"/>
        </div><!--pressroom-image-->
          
          <div class="col-sm-12 wow fadeInUp">
          <p style="margin-left:10%">Independent Transportation Network Lehigh Valley (ITNLehighValley) is currently seeking energetic, motivated professionals who wish to enhance the lives of seniors through service on the ITNLehighValley Board of Directors. We are looking for people with a personal and professional network who can share their passion for and advance our mission of providing 24/7 transportation to seniors and visually impaired adults when and where they want it. For more information, please email info@itnlehighvalley.org or call 610-419-1645.</p>

          <p style="margin-left:10%">Book A Presentation for Your Organization<br>
          Inform your clients, residents, or employees about ITNLehighValley’s ride service. To schedule a presentation please call 610-419-1645 today.</p>
          </div>
        
        
      </div><!--pressroom-->
    </div>
      
    </div><!--news-content-->
    
  </div><!--news-->
  
  
  <script>
  new WOW().init();
  </script>