
    <div class="news">
      
    <div class="jumbotron section first-hero">
      <h1>News</h1>
    </div><!--first-hero-->
    
    <div class="jumbotron section news-content">
      
      <a href="http://pressroom.itnamerica.org/category/itnlehighvalley/">
        <div class="pressroom col-sm-6 row">
          <div class="col-sm-6 pressroom-image">
            <img src="assets/images/icons/news-noword2.png" alt="newspaper icon"/>
            <ul>
              <li class="wow rollIn"><a href="http://pressroom.itnamerica.org/category/itnlehighvalley/">Pressroom Blog</a></li>
            </ul>
          </div><!--pressroom-image-->
          <div class="col-sm-6 pressroom-title"><h3>Pressroom</h3></div>
        </div><!--pressroom-->
      </a>
      
      <div class="newsletter col-sm-6 row">
        <div class="col-sm-6 newsletter-content">
          <img src="assets/images/icons/news-noword.png" alt="press icon"/>
          <ul>
            <li class="wow rollIn" data-wow-delay=".1s"><a
               href="assets/images/docs/newsletter/Fall_2015.pdf"  
               role="newsletter fall 2015">Newsletter Fall 2015</a></li>
            <li class="wow rollIn" data-wow-delay=".2s"><a
               href="assets/images/docs/newsletter/Fall_2014.pdf"  
               role="newsletter fall 2014">Newsletter Fall 2014</a></li>
        </ul>
        </div><!--newsletter-content-->
        <div class="col-sm-6 newsletter-title"><h3>Newsletters</h3></div>
      </div><!--newsletter-->
      
    </div><!--news-content-->
    
  </div><!--news-->
  
  
  <script>
  new WOW().init();
  </script>