
    <div class="organization">
      <div class="jumbotron section .first-hero" id="first-hero-org">
        <h1>Organization</h1>
      </div><!--first-hero-->
        
        
        
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" ng-click="scrollTo('board')">Board of Directors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ng-click="scrollTo('start')">Start an ITN in your community</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" ng-click="scrollTo('staff')">Staff</a>
          </li>
        </ul>
      
      
      <div class="section-container">
      <div class="container itn-green-bg">
      <section class="org-section" id="board">
        <h1>Board of Directors</h1>
        <div class="row mb-100">
          <div class="col-sm-4">
            <img src="assets/images/board/Adele_Bon_Shannon.jpg" alt="Adele Bon Shannon Portrait"/>
            <h2>Adele Bon Shannon</h2>
            <p class="title">Board Chair</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio1 = !showBoardBio1">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio1">
              <p>Adele is the Social Service Manager at St Luke's Home Care. She has served in this capacity for 20 years after working in a variety of social work positions including MR Services Director in Bucks County, Case Management Supervisor in Northampton County and Custody Study Specialist for the Lehigh County Court. She maintains a small private therapy practice working with individuals, couples and families in Bethlehem. </p>
              <p>She has a Bachelor’s degree in Social Welfare from Pennsylvania State University and a Master's Degree in Social Work from Marywood University. When she is not working, Adele is equally busy with her five adult children, six grandchildren and four great grandchildren. Travel to exotic lands such as Italy, Ireland, Croatia, and the sunny beaches of the Carribean and Mexico keep Adele from total burnout!</p>
            </div>
          </div>
          
          <div class="col-sm-4">
            <img src="assets/images/board/Diane_Dilendik.jpg" alt="Diane Dilendik portrait"/>
            <h2>Diane Dilendik</h2>
            <p class="title">Vice-Chair/Treasurer</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio2 = !showBoardBio2">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio2">
              <p>Diane began her career as a political science major became a Peace Corps teacher in Liberia for 3 years and continued teaching upon her return to the United States. She branched out to start a small business partnership, worked on an HMO startup, and then returned to school to become an RN. Now retired Diane works in politics and volunteers for various other organizations.</p>
            </div>
          </div>
          
          <div class="col-sm-4">
            <img src="assets/images/board/Beth_Boyer.jpg" alt="Beth Williams Boyer portrait"/>
            <h2>Beth Williams Boyer</h2>
            <p class="title">Director</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio3 = !showBoardBio3">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio3">
              <p>Lehigh Valley Community Foundation Board of Governors</p>
            </div>
          </div><!--col-sm-4-->

        </div><!--row-->
        
        
        <div class="row mb-100">
          <div class="col-sm-4">
            <img src="assets/images/board/Dianne_Michels.jpg" alt="Dianne Michels portrait"/>
            <h2>Dianne Michels</h2>
            <p class="title">Board Member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio4 = !showBoardBio4">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio4">
              <p>Dianne Michels has worked in the area of vision rehabilitation for over 20 years. One of her favorite past jobs was to help people diagnosed with low vision maximize their remaining functional vision. She was instrumental in starting and maintaining a low vision clinic and has assisted a low vision specialist in conducting comprehensive low vision evaluations. Dianne has a Masters of Science Degree in Clinical Psychology and Counseling and currently works part time as a Licensed Professional Counselor at Step By Step Outpatient Program. She lives with her husband and two dogs, one of which is her Seeing Eye dog Ellie.</p>
            </div>
          </div>
          
          <div class="col-sm-4">
            <img src="assets/images/board/Frank_Capoccia.jpg" alt="Frank Capoccia portrait"/>
            <h2>Frank Capoccia</h2>
            <p class="title">Board Member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio5 = !showBoardBio5">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio5">
              <p>Frank Capoccia is a Healthcare Administrator with Lehigh Valley Health Network (LVHN). Prior to joining LVHN, Frank served our Nation as an Air Force and Medical Service Corps Officer and comes to ITNLehighValley with more than 20 years of experience leading a complex, global healthcare organization. He has worked at the clinic, hospital, command, medical center and enterprise levels. </p>
              <p>Frank has a Bachelor of Science degree in Accounting from The Pennsylvania State University, a Master of Healthcare Administration from the University of South Florida, and a Master of Business Administration from Baker College. Frank is a board-certified Fellow with the American College of Healthcare Executives (ACHE), Past-President of ACHE’s Network of Overseas Healthcare Executives Chapter and Past-Secretary/Treasurer of ACHE’s Heartland Healthcare Executive Group Chapter.<p>
            </div>
          </div>
          
          <div class="col-sm-4">
            <img src="assets/images/board/Casey_Roncoroni.jpg" alt="Casey Roncoroni portrait"/>
            <h2>Casey Roncoroni</h2>
            <p class="title">Board Member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio6 = !showBoardBio6">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio6">
              <p>Casey Roncoroni is currently the Director of Development for a regional healthcare provider, and a fundraising professional with over a decade of experience in the nonprofit sector.</p>

              <p>Casey began her career in Boston serving as the primary grant writer and sole fundraiser for a special initiative out of the Mayor’s Office of Jobs & Community Services. During this time, Casey secured transformational private and government grants that provided for stability and capacity building during the recent recession.</p>

              <p>Casey also served as a member of a three-person advancement team at a small tuition free school in Boston, where she led foundation and corporate giving strategies for the school’s $10 million capital and endowment campaign. She has also served as a fundraising and strategy consultant for CCS Fundraising based on the Baltimore/Washington, DC team, where she had a specific focus on fundraising within the healthcare industry.</p>
            </div>
          </div><!--col-sm-4-->

        </div><!--row-->
      </section>
    
      <section class="org-section" id="start">
        <img class="itn-icon" src="assets/images/icons/itn3.png" alt="ITN icon"/>
        <div class="jumbotron section copy itn-lightgreen-bg">
          <div class="row center-70">
            <div class="col-md-9 ta-center">
              <a class="start-itn" href="https//www.itnamerica.org">Start an ITN in your Community</a>
            </div>
            <div class="col-md-3 mt-25" style="overflow:hidden">
              <img id="flying-bird" src="assets/images/start-bird.jpg"/>
            </div>
            </div>
        </div><!--jumbo-->
          
        <div class="jumbotron section national">
            <div class="row">
              <div class="col-sm-9 wow fadeInUp" data-wow-duration="2s" style="background: rgba(255,255,255,0.6);">
                <!-- <h2>The Power of a National Network</h2> -->
                  <p>ITN<em>{{affiliate}}</em> is part of the ITN<em>America</em> family, which unites organizations across the country working to support the transportation needs of older people. The ITN<em>America</em> model offers a platform for dignified, sustainable mobility using technological solutions and innovative programming. We welcome your interest, and hope you will consider the benefits of having an ITN affiliate in your area.
                  To learn more, <a ui-sref="contact">contact us </a></p>
              </div><!--national-->
            </div><!--row-->
          </div><!--national-->
            
            <!-- <div class="jumbotron section technology">
            <div class="row">
              <div class="col-sm-offset-3 col-sm-9" style="background: rgba(255,255,255,0.6);">
                <h2>The Power of Technology</h2>
                <p>Our proprietary ITNRides™ software system enables us to leverage our expertise and to simplify operations for all our affiliates.</p>

                <p>It connects every ITN affiliate community into one effective centralized national network that manages the logistics of the senior transportation service, including member and volunteer management and ride scheduling.</p>

                <p>All ITN affiliates access the software through an internet connection and store their information at our secure data center. The collected data is used for a variety of purposes; including helping social researchers better understand senior mobility and its effects on society. ITN technology provides everything needed to deliver logistical efficiency to a very complex problem.</p>

                <p>ITN is quickly linking cities and citizens across the country and that's just the beginning. Soon, ITN will grow beyond the cities and suburbs to the small towns and rural communities where the unmet need is so great. Our goal is to provide the expertise, tools and state-of-the-art technology that will allow small organizations to serve more and more people without additional resources or funds. We call this project ITNEverywhere</p>
              </div>
            </div>
        </div> -->
          </section>

          <section class="org-section" id="staff">
            <h1>Staff</h1>
            <div class="container">

              <div class="row mb-100">
              <div class="col-sm-4">
                <img src="assets/images/board/Lois_Favier.jpg" alt="Lois Favier portrait"/>
                <h2>Lois Favier, MPA </h2>
                <p class="title"><strong>Executive Director</strong></p>
                <button type="button" class="btn btn-lg" ng-click="showBoardBio11 = !showBoardBio11">READ MORE</button>
                
                <div class="showBoardBio" ng-show="showBoardBio11">
                  <p>Lois brings over 30 years of public and private sector knowledge to ITNLehighValley. Her career began as a military officer with the United States Air Force, then small business owner after which she transitioned to the nonprofit sector. Her experience in the nonprofit sector includes administrative, program and executive positions with the League of Women Voters, Carrier Clinic, and Catholic Charities Diocese of Trenton. </p>
                  <p>Lois also worked as a nonprofit consultant with a variety of nonprofit entities ranging from advocacy groups, health care providers, social service agencies, and foundations.  Lois holds a Master's Degree in Public Administration from Marist College, a BA in History from Penn State University, and a Certificate in Public Management from Fairleigh Dickinson University.</p>
                </div>
              </div><!--col-sm-4-->      
            
              <div class="col-sm-4">
                <img src="assets/images/board/Karen_Schiavone.jpg" alt="Karen Schiavone portrait"/>
                <h2>Karen Schiavone</h2>
                <p class="title"><strong>Operations Manager</strong></p>
                <button type="button" class="btn btn-lg" ng-click="showBoardBio12 = !showBoardBio12">READ MORE</button>
                
                <div class="showBoardBio" ng-show="showBoardBio12">
                  <p>Karen has over twenty years of experience in the non-profit sector. She was Director of Volunteers for Meals on Wheels of Northampton County and most recently was Senior Regional Health Initiatives Representative for the Lehigh Valley Unit of the American Cancer Society.  She has worked not only with volunteers but also with the mission and fundraising aspects of organizations. Karen holds a Bachelor of Science degree from East Stroudsburg University.</p>
                </div>
              </div><!--col-sm-4-->     

              <div class="col-sm-4">
                <img src="assets/images/board/Fatzinger.jpg" alt="Trudy Fatzinger portrait"/>
                <h2>Trudy Fatzinger</h2>
                <p class="title"><strong>Dispatcher</strong></p>
                <button type="button" class="btn btn-lg" ng-click="showBoardBio13 = !showBoardBio13">READ MORE</button>
                
                <div class="showBoardBio" ng-show="showBoardBio13">
                  <p>Trudy holds a bachelor’s degree in psychology from Muhlenberg College.  For 15 years, she worked in the field of rehabilitation, providing case management and training to blind and visually impaired persons who also had a variety of other physical and mental challenges.  Subsequently she has been self-employed for 25 years as a holistic healing practitioner, providing hands-on healing and intuitive readings for people and animals.  Trudy presently works as a call-taker and dispatcher for ITN Lehigh Valley. </p>
                </div>
              </div><!--col-sm-4-->     
          </div><!--row-->


          </div><!--container-->
          </section>
        </div><!--container-->  
    
      </div><!--lightgreen div-->
    </div><!--organization-->

    <script>
    new WOW().init();
    </script>

