<div class="container service-map">
  
  <h2><u>Zip Codes Serviced by ITN{{affiliate}}</u></h2>
  
  <div class="row mb-100">
    <div class="col-sm-6">
      <ul style="list-style-type: none;margin-top:50px">
        <li>18011 – Alburtis</li>
        <li>18014 – Bath	</li>
        <li>18015 – Bethlehem	</li>
        <li>18017 – Bethlehem	</li>
        <li>18018 – Bethlehem	</li>
        <li>18020 – Bethlehem	</li>
        <li>18031 – Breinigsville</li>
        <li>18032 – Catasauqua</li>
        <li>18034 – Center Valley</li>
        <li>18036 – Coopersburg</li>
        <li>18037 – Coplay</li>
        <li>18038 – Danielsville	</li>
        <li>18040 – Easton</li>
        <li>18042 – Easton</li>
        <li>18044 – Easton</li>
        <li>18045 – Easton</li>
        <li>18049 – Emmaus</li>
        <li>18051 – Fogelsville</li>
        <li>18052 – Whitehall	</li>		
      </ul>
    </div>
    <div class="col-sm-6">
      <ul style="list-style-type: none;margin-top:50px">
        <li>18055 - Hellertown</li>
        <li>18062 - Macungie</li>
        <li>18064 - Nazareth</li>
        <li>18066 - New Tripoli</li>
        <li>18067 - Northampton</li>
        <li>18068 - Old Zionsville</li>
        <li>18069 - Orefield</li>
        <li>18077 - Riegelsville</li>
        <li>18078 - Schnecksville</li>
        <li>18087 - Trexlertown</li>
        <li>18088 - Walnutport</li>
        <li>18092 - Zionsville</li>
        <li>18101 - Allentown</li>
        <li>18102 - Allentown</li>
        <li>18103 - Allentown</li>
        <li>18104 - Allentown</li>
        <li>18105 - Allentown</li>
        <li>18109 - Allentown</li>
        <li>18106 - Wescosville</li>
      </ul>
    </div>
  </div><!--row-->
  
  <img style="width:100%" src="assets/images/lehighvalley-map.png"/>
  
</div>

